# Усі текстові файли зберігаються в репозиторії з перенесеннями LF,
# а в робочу теку витягуються у форматі твоєї системи.
# Без цього рядка колега на Linux побачив би весь файл як "змінений".
* text=auto
